* {
  margin: 0;
  padding: 0;
  outline: 0;
  font-family: "poppins", sans-serif;
  box-sizing: border-box;
  transition: all 0.5s ease;
}

.container {
  width: 100%;
  height: 100vh;
  background: #e3f9ff;
  display: grid;
  align-items: center;
  justify-items: center;
}

.calculator {
  width: 505px;
  padding: 10px;
  border-radius: 10px;
  box-shadow: 0 0 30px #000;
}

.calculator form input {
  box-shadow: -8px -8px 15px rgba(255, 255, 255, 0.1),
    5px 5px 15px rgba(0, 0, 0, 0.2);
  border: 10px;
  outline: 10px;
  width: 60px;
  height: 60px;
  border-radius: 10px;
  cursor: pointer;
  margin: 10px;
  float: left;
}

form #switch-outer-border {
  width: 25px;
  height: 25px;
  position: relative;
  top: 0px;
  left: 460px;
  z-index: 1;
  border-radius: 10px;
}

input#switch-inner-border {
  width: 19px;
  height: 19px;
  margin: auto;
  position: relative;
  top: 2.5px;
  left: 3px;
  z-index: -1;
}

form .display {
  display: flex;
  justify-content: flex-end;
  margin: 10px 0;
}

form .display input {
  margin: 0 10px;
  height: 50px;
  width: auto;
  max-width: 470px;
  text-align: right;
  flex: 1;
  font-size: 45px;
  box-shadow: none;
}

form input.equal {
  width: 145px;
}

/* dark theme */
.calculator form .active :active {
  background-color: grey;
  color: yellow;
}

.calculator {
  background: #3a4452;
}

.calculator form input {
  background: transparent;
  color: white;
}

.calculator form.screen {
  background: transparent;
  color: white;
}

.calculator form input.button-color {
  color: rgb(92, 232, 129);
}

.calculator form #switch-outer-border {
  background: rgb(12, 50, 52);
}

.calculator form #switch-outer-border:active {
  background: rgb(92, 232, 129);
}

.calculator form input#switch-inner-border {
  background: #adb1ff;
}

/* light theme */
.calculator.lightmode form .active :active {
  background-color: seagreen;
  color: yellow;
}

.calculator.lightmode {
  background: #adb1ff;
}

.calculator.lightmode form input {
  background: transparent;
  color: #623966;
}

.calculator.lightmode form input.button-color {
  color: #0016bf;
}

.calculator.lightmode form #switch-outer-border {
  background: rgb(203, 234, 236);
}

.calculator.lightmode form #switch-outer-border:active {
  background: rgb(92, 232, 129);
}

.calculator.lightmode form input#switch-inner-border {
  background: rgb(12, 50, 52);
}
